@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;

}

.crea-section{
    width: 50%;
    margin: 60px auto;
    color: white;
    padding: 50px;
    background: rgba(255, 255, 255, 0.01);
    background : linear-gradient(360deg, #3A1B6B, #181A3E);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2)
}

.crea-section h1{
    font-size: 20px;
}

p{
    font-size: 15px;
    margin: 30px 0 40px;
}

.crea-container a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 550;
    margin-left: 35px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: .2s;
}

.crea-container a:hover{
    background-color:  #2750f1;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


.crea-layer{
    width: 100%;
    margin: 25px;
    color: white;
    padding: 10px;
    background: rgba(255, 255, 255, 0.01);
    border-radius: 8px;
}

@media screen and (max-width: 950px){
    .crea-section{
        width: 90%;
    }
}