@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;

}

h1{
    font-size: 25px;
    padding-top: 20px;
}

h3{
    margin: 5px;
    text-align: center;
}

.skill-section{
    width: 50%;
    margin: 60px auto;
    color: white;
    padding: 50px;
    background: rgba(255, 255, 255, 0.01);
    background : linear-gradient(360deg, #3A1B6B, #181A3E);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2)
}


.skill{
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}

.skill-name{
    font-size: 18px;
    font-weight: 700;
    color: grey;
    text-transform: uppercase;
    margin: 20px 0;
}

.skill-bar{
    height: 14px;
    background-color: #030c30;
    border-radius: 8px;
}

.skill-percent{
    height: 14px;
    background: linear-gradient(to left, #451683, #2750f1);
    border-radius: 8px;
    position: relative;
    animation: fillBars 2.5s 1;
}

.skill-percent::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}


@keyframes fillBars{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@media screen and (max-width: 950px){
    .skill-section{
        width: 90%;
    }
    
}