@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif ;
    background-color: #faf5f0;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid black;
}

nav h1{
    font-family: 'Mea Culpa' , sans serif;
    color: black;
    font-size: 30px;
}

nav .navigation{
    margin-top: 3px;
    margin-left: 500px;
}

nav .navigation a{
    text-decoration: none;
    color: black;
    margin-right: 15px;
    /*background: images/background.jpg;
    background-size: cover*/
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background: url('asset/background.jfif');
    background-color: black;
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px;
    border-bottom: 5px solid black;
}

header h1{
    font-family: 'Mea Culpa' , sans serif;
    font-size: 40px;
}

header h4{
    font-family: 'Montserrat', sans-serif ;
    margin-top: -20px;
    font-size: 20px;
    text-align: center;
}

/* main*/

.main{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.main .content .card .left{
    flex: 0 0 30%;
    padding: 20px;
    background-color: black;
    color: #809671;
}

.main .content .card.right{
    flex: 0 0 70%;
}

.main .content .card .right img{
    height: 300px;
    width: 400px;
    margin-top: 5px;
}

/*            footer            */

footer{
    margin-top: 40px;
    border-top: 5px solid black;
    background-color: black;
    color: #809671;
    padding: 30px 100px;
}

footer h1{
    font-family: 'Montserrat', sans-serif ;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}
footer .services{
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
}

footer .services .serviz{
    margin-right: 30px ;
    padding: 10px;
}

footer .services .serviz p{
    max-width: 300px;
}

footer #contact{
    color: #dfe0d1;
    font-size: 12px;
}

.media-icons a{
    justify-content: center;
    flex-direction: row;
    width: 40px;
    height: 40px;
    color: #dfe0d1;
    text-decoration: none;
}



@media screen and (max-width: 680px){
    nav .navigation{
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .main .card{
        margin: 10px;
    }
    .main .content .card .right img{
        height: 200px;
        width: 100%;
        margin-top: 0px;
    }
    .main .content .card{
        display: block;
    }
    footer{
        padding: 30px;
    }
}